.productsTable {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    border: none;

    margin: 20px;
}

.tableHeader {
    display: flex;
    flex-flow: row nowrap;

    font-size: 30px;
    color: white;

    background-color: rgb(212, 86, 40);
} 

.rowContainer {
    background-color: rgb(212, 212, 235);
}

.productInfo {
    margin: 5px;
    padding: 5px;

    margin-left: 275px;
}

.productPrice {
    margin-left: 0px;
    padding-left: 0px;

    margin-left: 600px;
}