*{
    margin: 50;
    padding: 90;

    box-sizing: border-box;
    font-family: sans-serif;
}

.body{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

table{
    width: 10%;
    border-collapse: collapse;
}
th, td{
    padding-left: 20rem;
    padding-right: 15rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;

}

thead{
    background-color: rgb(238, 162, 197);

}
