body{
  text-align: center;
  font-family: sans-serif;
  background-color: rgb(230, 229, 229);
  
}
h1{
  color:dodgerblue;
  font-size: 45px;
}
input{
  border: 2px solid dodgerblue;
  border-radius: 10px;
}