/* ProductRow.css */

.product-row {
    color: black;
  }
  
  .product-row.out-of-stock {
    color: red;
  }
  
  /* ProductTable.css */
  
  .product-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .product-table th,
  .product-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .product-table th {
    background-color: #f2f2f2;
  }
  